<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cadastro</title>
</head>
<body>
	<h1>Cadastre-se</h1>

	<form action="/projeto" method="post">

		<div>
			<label>Nome: </label> <input type="text" name="nome">
		</div>
		<div>
			<label>E-mail: </label> <input type="email" name="email">
		</div>
		<div>
			<label>CPF: </label> <input type="text" name="cpf">
		</div>
		<div>
			<label>Telefone: </label> <input type="text" name="telefone">
		</div>
		<div>
			<label>Senha: </label> <input type="password" name="senha">
		</div>
		<div>
			<button type="submit">Cadastrar-se</button>
			<button type="reset">Limpar</button>

		</div>


	</form>


</body>
</html>