<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<title>Top Store</title>
</head>
<body>

	<div th:replace="~{menu :: menu}"></div>
	<div th:replace="~{menu :: pesquisa}"></div>



	<div class="container">
		<div class="row">
			<div class="col s12 center-align">
				<h1>Bem-vindo ao TopStore</h1>
				<p class="flow-text">Encontre o estilo perfeito para você em um
					só lugar. Roupas masculinas, femininas e infantis, de acordo com a
					sua preferência entre qualidade e preço justo!</p>
			</div>
		</div>

		<div class="row">
			<div class="col s12">
				<h3 class="center-align" style="margin-bottom: 30px;">Destaques</h3>
			</div>

			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="/images/roupas-femininas.jpg" alt="Roupas Femininas">
						<span class="black-text card-title">Moda Feminina</span>
					</div>
					<div class="card-content">
						<p>Explore nossa coleção de roupas femininas. Do casual ao
							elegante, temos tudo para realçar sua beleza.</p>
					</div>
					<div class="card-action">
						<a href="/moda-feminina">Ver Mais</a>
					</div>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="/images/roupas-masculinas.jpg" alt="Roupas Masculinas">
						<span class="black-text card-title">Moda Masculina</span>
					</div>
					<div class="card-content">
						<p>Descubra nosso catálogo de roupas masculinas. Estilo,
							conforto e qualidade em um só lugar.</p>
					</div>
					<div class="card-action">
						<a href="/moda-masculina">Ver Mais</a>
					</div>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<img src="/images/roupas-infantis.jpg" alt="Roupas Infantis">
						<span class="black-text card-title">Moda Infantil</span>
					</div>
					<div class="card-content">
						<p>Roupas divertidas e confortáveis para os pequenos. Venha
							conferir nossa linha infantil.</p>
					</div>
					<div class="card-action">
						<a href="/moda-infantil">Ver Mais</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Sobre a Loja -->
		<div class="row">
			<div class="col s12">
				<h3 class="center-align">Sobre Nós</h3>
				<p class="flow-text center-align">Nosso site é especializada em
					buscar por você roupas de alta qualidade e acessíveis para toda a
					família. Buscamos sempre trazer novidades e tendências para nossos
					usuários, buscando no mercado da região, poupando seu tempo.</p>
			</div>
		</div>
	</div>
	<div th:replace="~{menu :: footer}"></div>



</body>
</html>