<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body>


	<nav class="#212121 grey darken-4 custom-nav-wrapper"
		th:fragment="menu">
		<div class="nav-wrapper container">
			<a href="#" class="brand-logo"></a> <img src="images/TopStore.png"
				style="width: 65px; height: auto;">
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/"><i class="material-icons right">home</i></a></li>
				<li><a href="/projeto/login">Login</a></li>
				<li><a href="/projeto/form">Cadastre-se</a></li>
				<li><a href="/projeto/loja">Cadastrar loja</a></li>
				<li><a href="/projeto/lojas">Lojas</a></li>
			</ul>
		</div>
	</nav>
	<br>

	<nav th:fragment="footer">
		<footer class="page-footer">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="white-text">Sobre a Nossa Empresa</h5>
						<p class="grey-text text-lighten-4">Trabalhamos para oferecer
							os melhores produtos e serviços.</p>
					</div>
					<div class="col l4 offset-l2 s12">
						<h5 class="white-text">Contatos</h5>
						<ul>
							<li><a class="grey-text text-lighten-3" href="#!">(84)
									99931-6024</a></li>
							<li><a class="grey-text text-lighten-3" href="#!">(84)
									99610-9964</a></li>
							<li><a class="grey-text text-lighten-3" href="#!">(84)99418-8793</a></li>
							<li><a class="grey-text text-lighten-3" href="#!">Extra</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					© 2024 TopStore. Todos os direitos reservados.<a
						class="grey-text text-lighten-4 right"
						href=https://www.instagram.com/top_store_software?igsh=Zzk4dmFwNDdyZ3Vw&utm_source=qr>Instragram</a>
				</div>
			</div>
		</footer>
	</nav>
</body>
</html>