<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<title>Cadastrar sua Loja</title>
</head>
<body>

	<div th:replace="~{menu :: menu}"></div> 
	<div class="container">
		<h1>Cadastre sua Loja</h1>
		<form action="/projeto" method="post">
		<input type="hidden" th:name="id" th:value="${loja.id}">
			<div>
				<label>Nome: </label> <input type="text" name="nomeloja" th:value="${loja.nomeloja}" required>
				
			</div>
			<div>
				<label>Endereço: </label> <input type="text" name="endereco" th:value="${loja.endereco}" required>
			</div>
			<div>
				<button class="btn waves-effect waves-light" type="submit">Cadastrar</button>
				<button class="btn waves-effect waves-light" type="reset">Limpar</button>
			</div>

		</form>
	</div>
	<br>
	<div th:replace="~{menu :: footer}"></div>
</body>
</html>